*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.title{
  font-size: 5rem;
  font-weight: bold;
  color: green
}

#quote-box{
  font-family: 'Pacifico', cursive;
}

.quote-title, #tweet-quote , #new-quote, #author{
  font-family: 'Slabo 27px', serif;
}

.main-quote{
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.2rem;
  word-wrap: break-word;
 
}

#author{
  margin-left: 50%
}
.card-footer{
  background: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: no-wrap;
  
}

/* @media screen and (max-width: 576px){
  .card-footer{

  }
} */